<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Admin page</h1>

        <h1>Hello <b th:text="${name}"></b> Welcome to our Website</h1>
        <form th:action="@{/addevent}" method="post">
        
           <div class="form-group">
            <input type="text" name="eventid" id="eventid" class="form-control input-lg"
                               placeholder="Event Id" required="true" autofocus="true" />
                    </div>
                        <input type="text" name="eventname" id="eventname" class="form-control input-lg"
                               placeholder="Event Name" required="true" autofocus="true" />
                    </div>
            <input type="submit" value="Add Event"/>
            <br>
             <b th:text="${msg}"></b><br>
             <b th:text="${numberofevents}"></b>
        </form>
    </div>

</div>
<div class="container">
<div th:if="${not #lists.isEmpty(events)}">
<h2> Event List</h2>
<table border="1" class="table table-stripped">
 <tr>
 <th>Event Id</th>
 <th>Event Name</th>
 <th>Event Url </th>
 </tr>
   
    <tr th:each = "event: ${events}">
    <td th:text="${event.eventId}"></td>
    <td th:text="${event.eventName}"></td>
    <td><a th:href="@{/transaction}">
            <img alt="Charity" title="Charity"
                src="../static/images/cf.jpg" width="500" height ="200" th:src="@{images/cf.jpg}"/>
        </a></td>
        
    </tr>
</table>
</div>
</div>


<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
<script>
var eventtype = document.getElementById("eventname"), evevntid=document.getElementById("eventid");

function validateEvent(){
if(eventtype.value == "" || eventtype.value == " " || eventid.value == "" || eventid.value == " ") {
  eventtype.setCustomValidity("Event Name/ID cannot remain blank");
} else {
  eventtype.setCustomValidity('');
}
}

eventype.onchange = validateEvent;


</script>

<SCRIPT type="text/javascript">
	window.history.forward();
	function noBack() { window.history.forward(); }
</SCRIPT>
</HEAD>
<BODY onload="noBack();" 
	onpageshow="if (event.persisted) noBack();" onunload="">
</body>
</html>

